<div class="bg-light dark p30 br-b br-grey">
  <div class="row">
    <div class=col-md-3>
      <p id="notice"><%= notice %></p>

      <h1>Listado de Espacios</h1>
    </div>
    <div class="col-md-3">
      <div class="input-group input-group-merge input-hero mb10">
        <a class="btn btn-primary btn-block" href="<%= new_spot_path %>">
          Registrar Espacio
        </a>
      </div>
    </div>
  </div>
</div>
<div class="tab-block p20 mt10">
  <section>
    
    <div class="col-md-12">
      <div class="panel panel-visible">
        <div class="panel-heading">
          <div class="panel-title hidden-xs">
            <span class="glyphicon glyphicon-tasks">></span>
            Lista de Carros
          </div>
        </div>
        <div class="panel-body pn">
          <table cellspacing="0" class="table table-striped table-hover" width="100%">
            <thead>
              <tr>
                <th>Distrito</th>
                <th>Dirección</th>
                <th>Costo</th>
                <th>Descripción</th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody>
              <% @spots.each do |spot| %>
                <tr>
                  <td><%= District.find(spot.district_id).name rescue ''%></td>
                  <td><%= spot.address %></td>
                  <td><%= spot.cost %></td>
                  <td><%= spot.description %></td>
                  <td>
                    <a class="btn btn-success" href="<%= spot_path(spot.id) %>">
                      Ver
                    </a>
                  </td>
                  <td>
                    <a class="btn btn-warning" href="<%= edit_spot_path(spot.id) %>">
                      Editar
                    </a>
                  </td>
                  <td>
                    <a class="btn btn-danger" data-confirm="Estas seguro?" data-method="DELETE" href="<%= spot_path(spot.id) %>">
                      Eliminar
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>