<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Auto:</strong>
  <%= @spot.car_id %>
</p>

<p>
  <strong>Lugar:</strong>
  <%= @spot.spot_id %>
</p>

<p>
  <strong>Hora Inicio:</strong>
  <%= @spot.start_hour %>
</p>

<p>
  <strong>Hora Fin:</strong>
  <%= @spot.end_hour %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @spot.status %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
